/* button  */
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body{
    background-color: #333;
}

.subject {
    font-size: 1rem;
    color: white;
    cursor: pointer;
    padding: 2.5%;
    border-radius: 20%;
    background: none;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.2rem;
    font-weight: bold;
    margin: 5%;
    width: fit-content;
}


div#pres .selected {
    background-color: rgb(43, 255, 0);
}

div#notpres .selected {
    background-color: red;
}

#mainc{
    position: relative;
    top: 10vh;
}

/* //nav */
.topnav {
    position: fixed;
    top: 0;
    background-color: #57c4e3;
    color: #333;
    text-align: center;
    z-index: 1;
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    padding: 5%;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Acme', sans-serif;
}
/* //date  */
#currdate {
    background:none;
    padding: 15px;
    font-family: "Roboto Mono", monospace;
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    /* width: 50%; */
}

.currdate{
    text-align : center;

}

p {
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: x-large;
    color: #ffffff;
}
.row {
    padding-bottom: 5%;
}
#pres{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#notpres{
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    justify-content: center;
    align-items: center;
}
.subbut {
    color: #ffffff;
    font-family: 'Acme', sans-serif;
    background:none;
    padding: 15px;
    text-align: center;
    font-size: x-large;
    width: 40%;
    margin-bottom : 30%;
}
.hide{
    display: none;
}
#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: white;
    height: 8vh;
}


.record{
    font-family: 'Acme', sans-serif;
    background: none;
    text-align: center;
    height: 100%;
    border: none;
    width: 100%;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn{
    border: none;
    background: none;
    color: black;

}

.click{
    background-color: purple;
}

button{
    background: none;
    color: #ffffff;
    padding: 2%;
    margin: 2%;
}